<div class="row">
  
  <div class="panel span6">
    <div class="page-header">
        <h2>Profile</h2>
        <h3>User's Name</h3>
        <p>A tagline maybe</p>
        <p><strong>Age:</strong> 23</p>
        <img src="images/facebook-default.jpg" height="100px" width="auto"/>
      </div>
  </div>

  <div class="panel span4 offset2" id="newsfeed">
      <div class="page-header">
        <h2>Newsfeed <%= link_to "Post New", new_status_path, class: "btn btn-primary" %></h2>
      </div>

      <% @statuses.each do |status| %>
      <div class="status">
        <strong><%= status.name %></strong>
        <p><%= status.content %></p>
        <div class="meta">
          <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
          <span class="admin">
            | <%= link_to "Edit", edit_status_path(status) %> |
            <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure you want to delete #{status.name}'s status?"} %>
        </div>
      </div>
      <% end %>
  </div>


</div>
